/*
@font-face {
  font-family: 'La Nord Light';
  src: url('./fonts/LaNordLight.woff2') format('woff2'),
    url('./fonts/LaNordLight.woff') format('woff'); 
  font-weight: normal;
  font-style: normal;
} 
*/

:root {
  /* Colors */
  --darkGrey: rgb(77, 77, 79);
  --lightGrey: rgb(148, 149, 152);
  --white: rgb(255, 255, 255);

  --primaryBg: var(--darkGrey);
  --secondaryBg: var(--white);
  --headerFontColor: var(--lightGrey);
  --footerFontColor: var(--lightGrey);
  --navActive: var(--white);

  /* Spacing */
  --bodyPadding: 35px;
  --navBarGap: 10px;
  --collectionRowPadding: 50px;

  --font-0: calc(0.25em + 1vw + 1vh);

  /* Stacking z-levels */
  --headerLevel: 10;
  --lowestLevel: -100;
}

html {
  background: var(--primaryBg);
}

body {
  margin: 0;
  font-size: 16px;
  min-height: 100%;
  color: var(--text);
  -webkit-overflow-scrolling: touch;
  /* background must be set here for Chrome */
  background: var(--primaryBg);
}

/* Safari pull overflow issue (fixed header) */
body:before {
  content: '';
  position: fixed;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  z-index: var(--lowestLevel);
  background: var(--primaryBg);
}

/* Reset defaults */
* {
  box-sizing: border-box;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
}

figure {
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}

cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

/* Tablet - 768px */
@media only screen and (min-width: 48em) {
}
/* Desktop - 1080px*/
@media only screen and (min-width: 67.5em) {
}
/* Desktop 2560px*/
@media only screen and (min-width: 160em) {
}
